#contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F1F1F1;
    font-family: 'exo', cursive;
    font-weight: 400;
}
.contato-emoticon{
    width: 40px;
}
.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 3% 0;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.form-contato{
    width: 40%;
}
.form-contato button{
    width: 100%;
    height: 55px;
    margin-top: 5px;
    margin-bottom: 35px;
    background-color: #2a231a;
    color: #BF8E00;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #BF8E00;
    transition: .5s;
    font-family: 'exo';
    font-weight: 600;
    font-size: 1.2em;
}
.form-contato button:hover{
    background-color: #BF8E00;
    color: #2a231a;
}
.box-input{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.box-input textarea{
    height: 120px;
    width: 100%;
    padding: 20px 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #BF8E00;
    color: #2A231A;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'exo';
    font-size: 12px;
    font-weight: 600;
}
textarea::placeholder{
    color: #836302;
    font-weight: bold;
}
.input-button{
    width: 100%;
    height: 35px;
    margin: 5px 0;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid #BF8E00;
    outline: none;
    font-family: 'exo';
    font-weight: 600;
    color: #2A231A;
}
.input-label{
    position: absolute;
    top: 7px;
    left: 12px;
    transition: .5s;
    pointer-events: none;
    color: #836302;
    font-weight: bold;
    font-size: 12px;
}

.input-button:focus + .input-label,
.input-button:valid + .input-label{
    font-size: 10px;
    top: 0px;
    left: 12px;
    color: #836302;
    font-weight: bold;
}


/* Media Queries */

@media (max-width: 768px){
    .form-contato{
        width: 90%;
    }
}