@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;800&family=Oxanium:wght@200;600&display=swap');




.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 25vh;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(26,22,17,1) 40%, rgba(42,35,26,1) 80%);
    border-bottom: 3px solid #C0A863;
    border-radius: 0 0 10px 10px;
}
.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.logo{
    display: flex;
    height: 90%;
}
.logo img{
    height: 100%;
}
.btn-mobile{
    display: none;
}
.lista{
    display: flex;
    list-style: none;
}
.lista-item{
    margin: 0 10px;
    cursor: pointer;
}
.lista-item a{
    text-decoration: none;
    color: #C0A863;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.lista-item a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #C0A863;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s ease-in-out;
}
.lista-item a:hover::after{
    width: 100%;
}


/* Media Queries */

@media (max-width: 768px){
    .topo{
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        height: 50%;
    }
}

@media (max-width: 475px){
   .btn-mobile{
    display: block;
   }
   .lista{
    display: block;
    position: absolute;
    top: 100px;
    width: 40%;
    height: 0px;
    background-color: rgba(191, 142, 0, 1);
    padding: 10px 0;
    z-index: 99;
    border-radius: .5rem;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
   }
   .logo{
    margin: 0 auto;
   }
   .lista-item{
    border-bottom: 2px solid rgba(104, 85, 58, 0.3);
    padding: 15px 0;
   }
   .lista-item a{
    color: #2A231A;
   }
   .topo{
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 20px;
   }
   .menu.active .lista{
    height: 30vh;
    visibility: visible;
   }
   .btn-mobile{
    display: flex;
    padding: 1rem .5rem;
    border: none;
    background: none;
    color: #C0A863;
    cursor: pointer;
   }
   .hamburger{
    border-top: 2px solid #C0A863;
    width: 20px;
    margin-left: 8px;
   }
   .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
   }
   .menu.active .hamburger{
    border-top-color: transparent;
   }
   .menu.active .hamburger::before{
    transform: rotate(135deg);
   }
   .menu.active .hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
   }
}