.slideshow {
  width: 100%;
  max-width: 800px; /* Largura máxima para o slide, pode ser ajustada conforme necessário */
  margin: 0 auto; /* Centralizar o slide horizontalmente */
  position: relative;
  overflow: hidden;
}

.slides-container {
  display: flex; /* Para que as imagens fiquem lado a lado */
  transition: transform 0.3s ease; /* Efeito de deslizamento ao trocar as imagens */
}

.slide {
  flex: 0 0 100%; /* Cada imagem ocupa 100% da largura do slide */
}

img {
  width: 100%; /* As imagens ocupam toda a largura do slide */
  height: auto; /* Mantém a proporção da imagem */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 8px 16px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.next-btn {
  right: 0;
}

.prev-btn {
  left: 0;
}